<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
    <style>
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #609EA2;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #C92C6D;
    } 
    </style>
</head>
<body>
    <header> RuangLucu </header>
    <main>
        <% let {id,role, username} = user %>
        <h1>create course</h1>
        <h2></h2>

        <form action="/teacher/<%= id %>/add" method="post">
          
            <p>Topic
                <input type="text" name="name">
            </p>
            <p>Description <br>
                <textarea name="description"  cols="30" rows="10"></textarea>
            </p>
            <p>image
                <input type="url" name="image">
            </p>
            <p> duration
                <input type="number" name="duration">
            </p>
            <p> Category
                <input type="text" name="category">
            </p>
          
            <input type="submit" value="Register">
        </form>
    </main>
    
</body>
</html>