<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header> Ruang Lucu </header>
    <main>
        <h1>Login dulu Maniess!!!</h1>

        <% if (error) { %>
         <p style="color: red;">
            <%= error %>
         </p>
        <% } %>

        <form action="/login" method="post">
            <p>Username
                <input type="text" name="username">
            </p>
            <P> Pasword
                <input type="password" name="password">
            </P>
    
            <input type="submit" value="Login">
        </form>
        <br>
        <br>
        <p>
            register?
            <a href="/register/student">Student</a>
            <a href="/register/teacher">Teacher</a>
        </p>
    </main>
    
</body>
</html>